h1 {
    color: mediumpurple;
    font-family: cursive;
    font-size: 450%;
    background-color: sandybrown;
}
body {
    text-align: center;
    background-color: royalblue;
    font-family: cursive;
}

datalist {
    color: red;
   }